* {
    box-sizing: border-box;
    --cell-width: 5rem;
}

.board{
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.row {
    background-color: blue;
    width: var(--cell-width);
    height: var(--cell-width);
}

.col{
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--cell-width);
    height: var(--cell-width);
}

